body
{
    background-color:cornsilk;
}
.section1
{
    text-align: center;
    padding:10px;
}
h1
{
    font-size: 40px;
}
.size
{
    font-size: 20px;
}
#image
{
    width:500px; 
    height:500px;
    padding:20px;
}
.style
{
    margin-left: 175px;
    
}
#img-div
{
    background-color: white;
}
#img-caption
{
    text-align: center;
    font-size:17px;
    padding:10px;
}

#tribute-info
{
    text-align: center;
}
#heading
{
    font-size: 25px;;
}
ul.center
{
    display:inline-block;
    text-align: left;
}
ul>li
{
    padding:10px;
    font-size: 17px;
    margin-left: 400px;
    margin-right: 400px;
}
blockquote
{
    font-size: 20px;
    padding:10px;
    font-style: italic;
}
h3
{
    padding:10px;
}
